refresh:
  fields:
    device_id:
      required: true
      selector:
        device:
          filter:
            integration: mygas
get_bill:
  fields:
    device_id:
      required: true
      selector:
        device:
          filter:
            integration: mygas
    email:
      required: false
      selector:
        text:

send_readings:
  fields:
    device_id:
      required: true
      selector:
        device:
          filter:
            integration: mygas
    value:
      required: true
      selector:
        entity:
          filter:
            domain: sensor
            device_class: gas
